@doveconviene:registry=https://npm.pkg.github.com
#//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
//npm.pkg.github.com/:_authToken=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
# engine-strict=true
legacy-peer-deps=true